:root {
  --color-letter: #bcbcbc;
  --color-letter2: #757575;
  --color-background: #000000;
  --color-primary1: #000000;
  --color-primary2: #e4e4e4;
  --color-primary3: #adadad;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-letter);
  font-size: 20px; 
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 800px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 2px;
  padding: 10px;
}

.container h1 {
  font-size: clamp(22px, 5vw, 48px);
  width: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  place-items: center;
}

.typing-demo {
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
      width: 0;
  }
}
    
@keyframes blink {
  50% {
      border-color: transparent;
  }
}

#validator-container {
  width: clamp(200px, 30vw, 400px);
  height: 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#validator-container .div-relative {
  position: relative;
}

.number {
  background-color: var(--color-primary1);
  color: var(--color-letter);
  font-size: 16px;
  text-align: center;
  width: 200px;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 1px;
  z-index: 4;  
  padding: 10px;
}

.number:hover,
.number:focus {
  outline: 1px solid var(--color-primary3);
}

.div-relative .div-absolute {
  position: absolute;
  top: 1px;
  right: -28px;
}

.validated {
  outline: 1px solid #3e9773;
}

.fa-circle-check {
  color: #3e9773;
}

.invalidated {
  outline: 1px solid #612727;
}

.fa-circle-xmark {
  color: #612727;
}

#checker {
  font-size: 20px;
  color: var(--color-letter);
  border-radius: 5px;
  padding: 6px 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: var(--color-primary1);
  border: none;
  z-index: 1;
} 

#checker:hover {
  color: var(--color-letter2);
}

#checker:hover:after {
  left: 0;
  width: 100%;
}

#checker:active {
  top: 2px;
}

#nivwer {
  font-size: 15px;
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

#nivwer > a {
  text-decoration: none;
  color: var(--color-letter1);
  outline: none;
}